<div class="container">
  <div class="form-group field">
    <%= form_with(scope: :post) do |f| %>
      <%= f.label :content, '投稿', class: "form-label"%>
      <div class="flex-textarea-container mb-3">
        <div class="flex-textarea-dummy" aria-hidden="true"></div>
        <%= f.text_area :content, class: "flex-textarea textarea-valid for-char-count", id:"editing-post-content", required: true, placeholder: '投稿内容' %>
      </div>
      <%# TODO カウントダウンのスタイル %>
      <p id="char-count-down">
        <%= count_down_twitter_text("")%>
      </p>

      <div id="tagged-tag-container">
        <%= render 'tagged_tags' %>
      </div>

      <div class="form-group">
        <%= f.label :images, '画像の添付', class: 'form-label' %>
        <%= f.file_field :images, class: 'form-control-file', multiple: true %>
      </div>
      <div class="form-group">
        <%= f.label :post_at, '投稿予定日時', class: 'form-label' %>
        <%= f.datetime_field :post_at, class: 'form-control' %>
      </div>

      <div id="post-form-submit-container" class="d-grid gap-2 d-md-flex mt-3 justify-content-md-end">
        <%= f.button type: :submit, formaction: drafts_path, class: "button button-submit" do %>
          <i class="fa-solid fa-floppy-disk"></i>保存
        <% end %>
        <%= f.button type: :submit, formaction: scheduled_index_path, class: "button button-submit" do %>
          <i class="fas fa-hourglass-half"></i>予約投稿
        <% end %>
        <%= f.button type: :submit, formaction: published_index_path, class: "button button-submit" do %>
          <i class="fa-solid fa-upload"></i>投稿
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%# NOTE: パーシャルが描画された後でないと適切に動作しないため読み込み順に注意する %>
<%= javascript_pack_tag 'shared/post_form' %>