<div class="col" id=<%= post_id(draft) %>>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <%= draft.content %>
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to "編集", edit_draft_path(draft), class: "button button-submit icon edit", remote: true %>
        <%# NOTE: draft → scheduled or published はパラメータにより分岐させる %>
        <%= link_to "予約投稿", draft_path(draft, to: 'scheduled'), method: :delete, remote: true,
          data: { confirm: "投稿を予約しますか?" }, class: "button button-submit icon scheduled" %>
        <%= link_to "投稿", draft_path(draft, to: 'published'), method: :delete, remote: true,
          data: { confirm: "投稿してもよろしいですか?" }, class: "button button-submit icon upload" %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p class="mb-0">最終更新: <%= render('shared/time_ago', datetime: draft.updated_at) %></p>
      <p class="mb-0">投稿予定: <%= draft.post_at ? "#{l(draft.post_at, format: :short)}" : '未設定' %></p>
    </div>
  </div>
</div>
