<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <%# renderから渡される変数を利用 %>
      <h5 class="modal-title"><%= title %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="form-group field">
      <%= form_with(model: @tag, remote: true) do |f| %>
          <%= f.label :name, "タグ名", class: "form-label"%>
        <div class="mb-3">
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%# renderから渡される変数を利用して分岐 %>
          <% if action == 'new' %>
            <button class="button button-submit icon upload">
              <%= f.submit "登録", class: "form-inner-button", maxlength: 100 %>
            </button>
          <% elsif action == 'edit' %>
            <button class="button button-submit icon update">
              <%= f.submit "更新", class: "form-inner-button", maxlength: 100 %>
            </button>
            <%= link_to "削除", tag_path(@tag), method: :delete, remote: true, data: { confirm: "ハッシュタグを削除してもよろしいですか?" }, class: "button button-danger icon trash"%>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>