<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <%# renderから渡される変数を利用 %>
      <h5 class="modal-title"><%= title %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="form-group field">
      <%= form_with(model: @tag, remote: true) do |f| %>
          <%= f.label :name, "タグ名", class: "form-label"%>
        <div class="mb-3">
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%# renderから渡される変数を利用して分岐 %>
          <% if action == 'new' %>
            <%= f.button type: :submit, class: "button button-submit" do %>
              <i class="fa-solid fa-upload"></i>登録
            <% end %>
          <% elsif action == 'edit' %>
            <%= f.button type: :submit, class: "button button-submit" do %>
              <i class="fa-solid fa-floppy-disk"></i>更新
            <% end %>
            <%= link_to "削除", tag_path(@tag), method: :delete, remote: true, data: { confirm: "ハッシュタグを削除してもよろしいですか?" }, class: "button button-danger icon trash"%>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>