<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <%# renderから渡される変数を利用 %>
      <h5 class="modal-title"><%= title %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="form-group field">
      <%= form_with(model: @setting, remote: true, url: setting_path) do |f| %>
        <div class="mb-5 d-flex flex-column">
          <%= f.label :can_notify, "通知機能のON/OFF", class: "form-label mr-3"%>
          <%= f.check_box :can_notify %>
        </div>

        <%# TODO f.check_boxの状態で以下の入力欄が切り替わるようなJavaScriptを書く %>
        <div class="mb-5 d-flex flex-column">
          <%= f.label :interval_to_check, "ツイートチェック間隔 (日)", class: "can-change-color form-label" %>
          <%= f.number_field :interval_to_check, class: "can-change-color form-control", min: 1, max: 30 %>
        </div>

        <div class="d-flex flex-column">
          <%= f.label :notify_at, "通知時間", class: "can-change-color form-label mr-3" %>
          <div class="can-change-color"><%= f.time_select :notify_at, class: "form-control", minute_step: 15 %></div>
        </div>


        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%# renderから渡される変数を利用して分岐 %>
            <%= f.button type: :submit, class: "button button-submit" do %>
              <i class="fa-solid fa-floppy-disk"></i>更新
            <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'pages/setting' %>
