<div class="col" id=<%= post_id(scheduled_post) %>>
  <div class="card">
    <div class="card-body">
      <%= render('shared/card_text', post: scheduled_post) %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to "編集", edit_scheduled_path(scheduled_post), class: "button button-submit icon edit", remote: true %>
        <%# NOTE: scheduled → draft or published はパラメータにより分岐させる %>
        <%= link_to "取り消し", scheduled_path(scheduled_post, to: 'draft'), method: :delete, remote: true,
          data: { confirm: "投稿予約を取り消して下書きへ移動させますか?" }, class: "button button-submit icon scheduled"%>
        <%= link_to "投稿", scheduled_path(scheduled_post, to: 'published'), method: :delete, remote: true,
          data: { confirm: "投稿予約を取り消して今すぐ投稿しますか?" }, class: "button button-submit icon upload"%>
      </div>
    </div>
    <div class="card-footer">
      <% if scheduled_post.scheduled_tweet_failure? %>
        <p class="mb-0 text-danger">投稿に失敗しました。過去の投稿と同じ内容を投稿しようとした可能性があります。</p>
      <% else %>
        <p class="mb-0 text-muted">投稿予定: <%= l(scheduled_post.post_at, format: :short) %></p>
      <% end %>
    </div>
  </div>
</div>
