<!DOCTYPE html>
<html>
  <head>
    <title>TwitterOutputter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# OneSignalによるWebプッシュ通知 %>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "7f94c2e3-f773-44f0-b8ea-c8ee9adbcfed",
        });
      });
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%# Bootstrap用 %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= render 'shared/tags_modal' %>
      <div class="row">
        <div class="col-3">
          <%= render 'shared/tags_sidebar' %>
        </div>
        <div class="col-6">
          <%= yield %>
        </div>
        <div class="col-3">
          <%# <%= render 'shared/post-sidebar' %>
          <a href="#">POST SIDEBAR</a>
        </div>
    </div>
  </body>
</html>
