<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# OneSignalによるWebプッシュ通知 %>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "7f94c2e3-f773-44f0-b8ea-c8ee9adbcfed",
        });
      });
    </script>
    <script src="https://kit.fontawesome.com/843ecb7853.js" crossorigin="anonymous"></script>

		<%# Bootstrap用 %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary bg-opacity-10">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_container' %>
    <%= render 'shared/modal_container' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
